
<div class="container-fluid text-center" style="margin-top:30px">
    <h1>Wind Forecast</h1>


    <div class = "row">
        <div class = "col-sm-12" >
            <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=46.514&lon=-3.582&zoom=7&level=surface&overlay=wind&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&detailLat=47.022&detailLon=-3.410&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe> 
        </div>
    </div>
</div>