@import '../node_modules/fontawesome-free/css/all.css';

.fakeimg {
    height: 200px;
    background: #aaa;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.title-custom {
    font-size: 50pt;
    font-family: "titre2";
    src: url(./assets/azonix/Azonix.otf);
    /* src: url(./media/dalek_pinpoint/DalekPinpointBold.ttf); */
    margin-top: 10px;
  }
.sub-title-custom {
    font-size: 20pt;
    font-family: "titre";
     /* src: url(./media/azonix/Azonix.otf); */
    src: url(./assets/dalek_pinpoint/DalekPinpointBold.ttf);
    margin-top: 10px;
  }
  @font-face {
    font-family: "titre" ;
    src: url(./assets/dalek_pinpoint/DalekPinpointBold.ttf);
  }
  @font-face {
    font-family: "titre2" ;
    src: url(./assets/azonix/Azonix.otf);
  }
